<div class="w-full flex justify-center items-center pt-10 pb-20">
  <div id="wrapper_users" class="w-10/12">
    <table id="users_table">
      <thead>
        <tr>
          <th>Tiêu đề</th>
          <th>Người đăng</th>
          <th>Giá tiền</th>
          <th>Ngày đăng</th>
          <th>Loại</th>
          <th>Trạng thái</th>
          <th>Ẩn / Hiện</th>
          <th>Xoá</th>
        </tr>
      </thead>
      <tbody>
        {{#each list_posts}}
          <tr>
            <td><a
                href="/post/info/{{this.id}}"
                class="hover:text-green-600"
              >{{this.title}}</a></td>
            <td><a
                href="/admin/users/{{this.author_id}}"
                class="hover:text-green-600"
              >{{this.author}}</a></td>
            <td>{{this.price}}</td>
            <td>{{formatDate this.created}}</td>
            <td>{{this.category}}</td>
            <td>
              {{#if this.state}}
                <div class="w-full flex justify-center items-center">
                  <div><p class="italic text-sm text-green-600">Đã duyệt</p></div>
                </div>
              {{else}}
                <div class="w-full flex justify-center items-center">
                  <div>
                    <a href="/admin/posts/approve/{{this.id}}"><button
                        class="border-1 bg-yellow-500 p-2 rounded focus:outline-none"
                      >Duyệt bài</button></a>
                  </div>
                </div>
              {{/if}}
            </td>
            <td>
              <div class="w-full flex justify-center items-center">
                {{#if this.hide}}
                  <a
                    href="/admin/posts/unhide/{{this.id}}"
                    class="text-sm text-gray-500"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      aria-hidden="true"
                      role="img"
                      class="iconify iconify--ph"
                      width="32"
                      height="32"
                      preserveAspectRatio="xMidYMid meet"
                      viewBox="0 0 256 256"
                    ><path
                        d="M234.353 160.813a12 12 0 1 1-20.786 12L197.29 144.62a127.015 127.015 0 0 1-29.367 13.47l5.19 29.431a12 12 0 1 1-23.634 4.168l-5.053-28.654a140.43 140.43 0 0 1-32.942-.01l-5.051 28.652a12 12 0 0 1-23.635-4.168l5.191-29.445a127.015 127.015 0 0 1-29.324-13.472l-16.384 28.378a12 12 0 0 1-20.785-12l17.855-30.926a153.17 153.17 0 0 1-16.686-17.629a12 12 0 0 1 18.668-15.082C57.059 116.798 84.858 140 128 140c43.14 0 70.94-23.202 86.666-42.666a12 12 0 1 1 18.668 15.082a153.09 153.09 0 0 1-16.725 17.664z"
                        fill="currentColor"
                      ></path></svg>
                  </a>
                {{else}}
                  <a
                    href="/admin/posts/hide/{{this.id}}"
                    class="text-sm text-gray-500"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      aria-hidden="true"
                      role="img"
                      class="iconify iconify--la"
                      width="32"
                      height="32"
                      preserveAspectRatio="xMidYMid meet"
                      viewBox="0 0 32 32"
                    ><path
                        d="M16 8C7.664 8 1.25 15.344 1.25 15.344L.656 16l.594.656s5.848 6.668 13.625 7.282c.371.046.742.062 1.125.062s.754-.016 1.125-.063c7.777-.613 13.625-7.28 13.625-7.28l.594-.657l-.594-.656S24.336 8 16 8zm0 2c2.203 0 4.234.602 6 1.406c.637 1.055 1 2.27 1 3.594a6.995 6.995 0 0 1-6.219 6.969c-.02.004-.043-.004-.062 0c-.239.011-.477.031-.719.031c-.266 0-.523-.016-.781-.031A6.995 6.995 0 0 1 9 15c0-1.305.352-2.52.969-3.563h-.031C11.717 10.617 13.773 10 16 10zm0 2a3 3 0 1 0 .002 6.002A3 3 0 0 0 16 12zm-8.75.938A9.006 9.006 0 0 0 7 15c0 1.754.5 3.395 1.375 4.781A23.196 23.196 0 0 1 3.531 16a23.93 23.93 0 0 1 3.719-3.063zm17.5 0A23.93 23.93 0 0 1 28.469 16a23.196 23.196 0 0 1-4.844 3.781A8.929 8.929 0 0 0 25 15c0-.715-.094-1.398-.25-2.063z"
                        fill="currentColor"
                      ></path></svg>
                  </a>
                {{/if}}

              </div>
            </td>
            <td>
              <div class="w-full flex justify-center items-center">
                <button
                  class="btn_delete focus:outline-none text-sm text-gray-500"
                  id="{{this.id}}"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    aria-hidden="true"
                    role="img"
                    class="iconify iconify--mdi"
                    width="32"
                    height="32"
                    preserveAspectRatio="xMidYMid meet"
                    viewBox="0 0 24 24"
                  ><path
                      d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6v12z"
                      fill="currentColor"
                    ></path></svg>
                </button>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

{{#section "js"}}
  <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
  <script
    src="https://unpkg.com/gridjs-jquery/dist/gridjs.production.min.js"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
  />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.6/sweetalert2.min.js"
    integrity="sha512-CrNI25BFwyQ47q3MiZbfATg0ZoG6zuNh2ANn/WjyqvN4ShWfwPeoCOi9pjmX4DoNioMQ5gPcphKKF+oVz3UjRw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.16.6/sweetalert2.min.css"
    integrity="sha512-/D4S05MnQx/q7V0+15CCVZIeJcV+Z+ejL1ZgkAcXE1KZxTE4cYDvu+Fz+cQO9GopKrDzMNNgGK+dbuqza54jgw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <script type="text/javascript" src="/js/admin/posts.js"></script>
{{/section}}