<div class="mb-20 mt-10">
  <div class="flex justify-center items-center">
    <div class="w-8/12">
      <div class="flex justify-start items-center">
        <div class="icon_profile w-44 text-gray-400">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="iconify iconify--ph"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 256 256"
          >
            <path
              d="M228 128a100 100 0 1 0-167.29 73.91a3.97 3.97 0 0 0 .842.75a99.794 99.794 0 0 0 132.898-.001a3.966 3.966 0 0 0 .838-.748A99.763 99.763 0 0 0 228 128zm-192 0a92 92 0 1 1 157.171 64.872a75.616 75.616 0 0 0-44.507-34.04a44 44 0 1 0-41.328 0a75.618 75.618 0 0 0-44.507 34.04A91.708 91.708 0 0 1 36 128zm92 28a36 36 0 1 1 36-36a36.04 36.04 0 0 1-36 36zm-59.135 42.417a68.01 68.01 0 0 1 118.27 0a91.804 91.804 0 0 1-118.27 0z"
              fill="currentColor"
            ></path>
          </svg>
        </div>
        <div class="text-sm">
          <div class="text-lg">Thông tin cá nhân</div>
          <div><span class="text-gray-500 italic mr-4">Họ tên:
            </span>{{user.name}}</div>
          <div><span class="text-gray-500 italic mr-4">Ngày sinh:
            </span><span class="birth">{{user.birth}}</span></div>
          <div><span class="text-gray-500 italic mr-4">Giới tính:
            </span>{{user.gender}}</div>
          <div><span class="text-gray-500 italic mr-4">Email:
            </span>{{user.email}}</div>
          <div><span class="text-gray-500 italic mr-4">Số ĐT:
            </span>{{user.phone}}</div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="w-full mt-10 flex justify-center items-center">
      <div id="wrapper_users" class="w-8/12 border-b-2">
        <table id="users_table">
          <thead>
            <tr>
              <th>Tiêu đề</th>
              <th>Giá tiền</th>
              <th>Ngày đăng</th>
              <th>Trạng thái</th>
              <th>Ẩn hiện</th>
              <th>Xóa</th>
            </tr>
          </thead>
          <tbody>
            {{#each list}}
              <tr>
                <td><a
                    href="/post/info/{{this.id}}"
                    class="hover:text-green-600"
                  >{{this.title}}</a></td>
                <td>{{this.price}}</td>
                <td>{{formatDate this.created}}</td>
                <td>
                  {{#if this.state}}
                    <div class="w-full flex justify-center items-center">
                      <div><p class="italic text-sm text-green-600">Đã duyệt</p></div>
                    </div>
                  {{else}}
                    <div class="w-full flex justify-center items-center">
                      <div>
                        <a href="/admin/posts/approve/{{this.id}}"><button
                            class="border-1 bg-yellow-500 p-2 rounded focus:outline-none"
                          >Duyệt bài</button></a>
                      </div>
                    </div>
                  {{/if}}
                </td>
                <td>
                  <div class="w-full flex justify-center items-center">
                    {{#if this.hide}}
                      <a
                        href="/admin/posts/unhide/{{this.id}}"
                        class="text-sm text-gray-500"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          aria-hidden="true"
                          role="img"
                          class="iconify iconify--ph"
                          width="32"
                          height="32"
                          preserveAspectRatio="xMidYMid meet"
                          viewBox="0 0 256 256"
                        ><path
                            d="M230.888 162.813a8 8 0 1 1-13.856 8l-18.382-31.839a123.556 123.556 0 0 1-35.288 16.278l5.813 32.965a8.002 8.002 0 0 1-6.49 9.268a8.131 8.131 0 0 1-1.399.122a8.003 8.003 0 0 1-7.869-6.61l-5.718-32.428a136.26 136.26 0 0 1-39.487-.014l-5.718 32.427a8.003 8.003 0 0 1-7.869 6.613a8.12 8.12 0 0 1-1.398-.122a8.001 8.001 0 0 1-6.49-9.268l5.814-32.978a123.578 123.578 0 0 1-35.245-16.282l-18.49 32.026a8 8 0 1 1-13.855-8l19.497-33.77a147.773 147.773 0 0 1-18.682-19.299a8 8 0 1 1 12.446-10.054a128.707 128.707 0 0 0 21.245 20.923c.063.044.12.094.181.14A109.59 109.59 0 0 0 128 144a109.59 109.59 0 0 0 68.337-23.079c.053-.04.102-.081.156-.12a128.726 128.726 0 0 0 21.284-20.953a8 8 0 0 1 12.446 10.054a147.797 147.797 0 0 1-18.722 19.333z"
                            fill="currentColor"
                          ></path></svg>
                      </a>
                    {{else}}
                      <a
                        href="/admin/posts/hide/{{this.id}}"
                        class="text-sm text-gray-500"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          xmlns:xlink="http://www.w3.org/1999/xlink"
                          aria-hidden="true"
                          role="img"
                          class="iconify iconify--la"
                          width="32"
                          height="32"
                          preserveAspectRatio="xMidYMid meet"
                          viewBox="0 0 32 32"
                        ><path
                            d="M16 8C7.664 8 1.25 15.344 1.25 15.344L.656 16l.594.656s5.848 6.668 13.625 7.282c.371.046.742.062 1.125.062s.754-.016 1.125-.063c7.777-.613 13.625-7.28 13.625-7.28l.594-.657l-.594-.656S24.336 8 16 8zm0 2c2.203 0 4.234.602 6 1.406c.637 1.055 1 2.27 1 3.594a6.995 6.995 0 0 1-6.219 6.969c-.02.004-.043-.004-.062 0c-.239.011-.477.031-.719.031c-.266 0-.523-.016-.781-.031A6.995 6.995 0 0 1 9 15c0-1.305.352-2.52.969-3.563h-.031C11.717 10.617 13.773 10 16 10zm0 2a3 3 0 1 0 .002 6.002A3 3 0 0 0 16 12zm-8.75.938A9.006 9.006 0 0 0 7 15c0 1.754.5 3.395 1.375 4.781A23.196 23.196 0 0 1 3.531 16a23.93 23.93 0 0 1 3.719-3.063zm17.5 0A23.93 23.93 0 0 1 28.469 16a23.196 23.196 0 0 1-4.844 3.781A8.929 8.929 0 0 0 25 15c0-.715-.094-1.398-.25-2.063z"
                            fill="currentColor"
                          ></path></svg>
                      </a>
                    {{/if}}
                  </div>
                </td>
                <td>
                  <div class="w-full flex justify-center items-center">
                    <a
                      class="focus:outline-none text-sm text-gray-500"
                      href="/admin/posts/delete/{{this.id}}"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true"
                        role="img"
                        class="iconify iconify--mdi"
                        width="32"
                        height="32"
                        preserveAspectRatio="xMidYMid meet"
                        viewBox="0 0 24 24"
                      ><path
                          d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6v12z"
                          fill="currentColor"
                        ></path></svg>
                    </a>
                  </div>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{{#section "js"}}
  <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
  <script
    src="https://unpkg.com/gridjs-jquery/dist/gridjs.production.min.js"
  ></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css"
  />
  <script type="text/javascript" src="/js/admin/user.js"></script>
{{/section}}