<div class="w-3/4 py-16" style="margin-left: 12.5%;">
    <div class="my-4 flex flex-row text-xl font-bold items-center text-pink-700">
        <a href="/">Trang chủ</a>
        <i class="fas fa-chevron-right mx-4"></i>
        <p>Danh mục</p>
        <i class="fas fa-chevron-right mx-4"></i>
        <p>{{category}}</p>
    </div>

    <div class="flex flex-row">
        <div class="mb-4">
            <select id="sort-posts" class="option-item border rounded text-pink-700 border-pink-700">
                <option >Sắp xếp</option>
                <option value="newest">Mới nhất</option>
                <option value="priceDes">Giá giảm dần</option>
                <option value="priceInc">Giá tăng dần</option>
            </select>
        </div>

        <div class="mb-4 mx-8">
            <select id="price-filter" class="option-item border rounded text-pink-700 border-pink-700">
                <option >Khoảng giá</option>
                <option value="500000">0 - 500,000 đ</option>
                <option value="1000000">500,000 - 1,000,000 đ</option>
                <option value="5000000">1,000,000 - 5,000,000 đ</option>
                <option value="20000000">5,000,000 - 20,000,000 đ</option>
                <option value="20000001">Trên 20,000,000 đ</option>
            </select>
        </div>
    </div>

    <div class="px-6 grid gap-8" id="posts"></div>

</div>

{{#section 'js'}}
<script>
    posts = [];
    {{#each result}}
        posts.push({
            price: {{this.price}},
            categories: `{{this.categories}}`,
            created: new Date(`{{this.created}}`),
            html: `
            <div class="relative transform hover:scale-105 transition duration-300 ease-in-out">
                <a href="/post/info/{{this._id}}" class="flex flex-row" style="box-shadow: 0 10px 24px rgb(0, 0, 0, 0.15);">
                    <img class="m-4 h-40" src="{{this.images.[0].path}}">
                    <div class=" w-full">
                    <h5 class="mt-4 mb-4 font-bold text-xl">{{this.title}}</h5>
                    <p class="font-bold pb-4 text-base" style="color: rgb(253, 133, 44);">{{formatCurrency this.price}} đ</p>
                    </div>
                </a>
                <button class="add_fav absolute right-8 top-16" value="{{this._id}}">
                        <i class="far fa-heart text-6xl"></i>
                </button>
            </div>`
        });
    {{/each}}
    for (i = 0; i < posts.length; i++) {
        $('#posts').html($('#posts').html() + posts[i].html);
    }
    if (posts.length == 0) {
        $('#posts').html(`<p class="text-xl">Danh mục <strong>'{{category}}'</strong> chưa có sản phẩm nào</p>`)
    }

    $('#sort-posts').on('change', function() {
        if (posts.length > 0) {
            switch (this.value) {
                case 'newest':
                console.log(posts);
                    posts.sort(function (a, b) { return b.created - a.created; })
                    break;
                case 'priceInc':
                    posts.sort(function (a, b) { return a.price - b.price; })
                    break;
                case 'priceDes':
                    posts.sort(function (a, b) { return b.price - a.price; })
                    break;
                default:
            }
            for (i = 0; i < posts.length; i++) {
                $('#posts').html($('#posts').html() + posts[i].html);
            }
        }
    });

    $('#price-filter').on('change', function() {
        $('#posts').html('');
        if (this.value < 20000001) {
            for (i = 0; i < posts.length; i++) {
                if (posts[i].price < this.value) {
                    $('#posts').html($('#posts').html() + posts[i].html);
                }
            }
        } else {
            for (i = 0; i < posts.length; i++) {
                if (posts[i].price > 20000000) {
                    $('#posts').html($('#posts').html() + posts[i].html);
                }
            }
        }
    });

    $('.add_fav').on('click', function(){
        $.get({
            url: `/user/addFav/${this.value}`,
            success: function (data) {
                if (typeof(data.status) == "undefined") {
                    window.location.replace('/login');
                } else {
                    if (data.status == true) {
                        Swal.fire({
                            icon: 'success',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: data.message,
                            showConfirmButton: false,
                            timer: 1500
                        });
                    }
                }
            }
        });
    });
</script>
{{/section}}