<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.2/tailwind.min.css"
      integrity="sha512-RntatPOhEcQEA81gC/esYoCkGkL7AYV7TeTPoU+R9zE44/yWxVvLIBfBSaMu78rhoDd73ZeRHXRJN5+aPEK53Q=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css"
      integrity="sha512-oe8OpYjBaDWPt2VmSFR+qYOdnTjeV9QPLJUeqZyprDEQvQLJ9C5PCFclxwNuvb/GQgQngdCXzKSFltuHD3eCxA=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
      integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
      integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Thrift Market</title>
  </head>

  <body class="h-screen">
    <!--Header-->
    <div class="flex justify-center items-center">
      <div
        class="w-full max-w-screen-xl h-14 flex justify-center items-center mt-5 pb-5 border-b-2 text-gray-500"
      >
        <div
          class="w-full mx-5 xl:w-10/12 flex justify-between items-center font-normal"
        >
          <div class="w-10/12 lg:w-4/5 flex justify-start items-center">
            <div
              class="text-4xl mr-10 xl:mr-20 font-extrabold text-green-600"
            ><a href="/">Thrift Market</a></div>
            {{#if session.user.isAdmin}}
              <div
                class="w-1/2 xl:w-3/5 flex justify-between text-base hidden md:flex"
              >
                <div class="cursor-pointer hover:underline"><a href="/">Trang
                    chủ</a></div>
                <div class="cursor-pointer hover:underline">Quản lý bài đăng</div>
                <div class="cursor-pointer hover:underline"><a
                    href="/admin/users"
                  >Quản lý người dùng</a></div>
              </div>
            {{else}}
              <div
                class="w-1/2 xl:w-2/5 flex justify-between text-base hidden md:flex"
              >
                <div class="cursor-pointer hover:underline"><a href="/">Trang
                    chủ</a></div>
                <div class="cursor-pointer hover:underline">Quản lý bài đăng</div>
                <div class="cursor-pointer hover:underline"><a
                    href="/message"
                  >Tin nhắn</a></div>
              </div>
            {{/if}}

          </div>
          {{#if session.user}}
            <div
              class="w-1/5 flex justify-end items-center text-base hidden lg:flex"
            >
              <div
                class="w-full flex justify-end items-center text-base hidden lg:flex"
              >
                {{#if session.user.isAdmin}}{{else}}
                  <div class="flex justify-center mr-2">
                    <a href="/{{session.user._id}}">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true"
                        role="img"
                        class="iconify iconify--ph"
                        width="32"
                        height="32"
                        preserveAspectRatio="xMidYMid meet"
                        viewBox="0 0 256 256"
                      >
                        <path
                          d="M232 128a104 104 0 1 0-174.18 76.681a7.963 7.963 0 0 0 1.326 1.19a103.785 103.785 0 0 0 137.712-.004a7.957 7.957 0 0 0 1.317-1.181A103.746 103.746 0 0 0 232 128zm-192 0a88 88 0 1 1 153.758 58.41a79.56 79.56 0 0 0-36.056-28.745a48 48 0 1 0-59.404 0a79.56 79.56 0 0 0-36.056 28.745A87.638 87.638 0 0 1 40 128zm56-8a32 32 0 1 1 32 32a32.036 32.036 0 0 1-32-32zm-21.917 77.499a64.022 64.022 0 0 1 107.834 0a87.814 87.814 0 0 1-107.834 0z"
                          fill="currentColor"
                        ></path>
                      </svg>
                    </a>
                  </div>
                {{/if}}
                <div class="w-1/2"><a
                    href="/logout"
                    class="hover:underline"
                  >Đăng xuất</a></div>
              </div>
            </div>
          {{else}}
            <div
              class="w-1/5 flex justify-around items-center text-base hidden lg:flex"
            >
              <div class="w-1/2"><a href="/login" class="hover:underline">Đăng
                  nhập</a></div>
              <div
                class="bg-green-600 p-2 text-white w-1/2 flex justify-center rounded-lg"
              >
                <a href="/register">Đăng ký</a>
              </div>
            </div>
          {{/if}}
          <!--Dropdown menu-->
          <div class="relative z-10 inline-block text-left lg:hidden">
            <div>
              <button
                type="button"
                class="menu close text-xs inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-2 py-1 bg-white text-gray-700 hover:bg-gray-50 focus:outline-none"
                id="menu-button"
                aria-expanded="true"
                aria-haspopup="true"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--mdi"
                  width="32"
                  height="32"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2z"
                    fill="currentColor"
                  ></path>
                </svg>
              </button>
            </div>
            <div
              class="submenu hidden origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 divide-y divide-gray-100 focus:outline-none"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="menu-button"
              tabindex="-1"
            >
              <div class="py-1" role="none">
                {{#if session.user}}
                  {{#if session.user.isAdmin}}{{else}}
                    <a
                      href="/{{session.user._id}}"
                      class="text-gray-700 block px-4 py-2 text-sm hover:bg-green-500"
                      role="menuitem"
                      tabindex="-1"
                      id="menu-item-0"
                    >Trang cá nhân</a>
                  {{/if}}
                {{else}}
                  <a
                    href="/login"
                    class="text-gray-700 block px-4 py-2 text-sm hover:bg-green-500"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-0"
                  >Đăng nhập</a>
                  <a
                    href="/register"
                    class="text-gray-700 block px-4 py-2 text-sm hover:bg-green-500"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-1"
                  >Đăng ký</a>
                {{/if}}
              </div>
              {{#if session.user}}
                <div class="py-1 md:hidden" role="none">
                  {{#if session.user.isAdmin}}
                    <a
                      href="/admin/posts"
                      class="text-gray-700 block px-4 py-2 text-sm hover:bg-green-500"
                      role="menuitem"
                      tabindex="-1"
                      id="menu-item-4"
                    >Quản lý bài đăng</a>
                    <a
                      href="/admin/users"
                      class="text-gray-700 block px-4 py-2 text-sm hover:bg-green-500"
                      role="menuitem"
                      tabindex="-1"
                      id="menu-item-5"
                    >Quản lý người dùng</a>
                  {{else}}
                    <a
                      href="#"
                      class="text-gray-700 block px-4 py-2 text-sm hover:bg-green-500"
                      role="menuitem"
                      tabindex="-1"
                      id="menu-item-4"
                    >Quản lý bài đăng</a>
                    <a
                      href="/message"
                      class="text-gray-700 block px-4 py-2 text-sm hover:bg-green-500"
                      role="menuitem"
                      tabindex="-1"
                      id="menu-item-5"
                    >Tin nhắn</a>
                  {{/if}}
                </div>
                <div class="py-1" role="none">
                  <a
                    href="/logout"
                    class="text-gray-700 block px-4 py-2 text-sm hover:bg-green-500"
                    role="menuitem"
                    tabindex="-1"
                    id="menu-item-6"
                  >Đăng xuất</a>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Search bar and post button-->
    <div class="flex justify-center items-center bg-gray-800">
      <div class="w-full max-w-screen-xl flex justify-center items-center">
        <div class="w-1/2 flex justify-start my-5">
          <div
            class="flex justify-center items-center bg-white rounded-l-lg pl-2 text-gray-400"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              aria-hidden="true"
              role="img"
              class="iconify iconify--carbon"
              width="32"
              height="32"
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 32 32"
            >
              <path
                d="M29 27.586l-7.552-7.552a11.018 11.018 0 1 0-1.414 1.414L27.586 29zM4 13a9 9 0 1 1 9 9a9.01 9.01 0 0 1-9-9z"
                fill="currentColor"
              ></path>
            </svg>
          </div>
          <div class="w-3/4">
            <input
              type="text"
              class="w-full h-10 rounded-r-lg p-2 focus:outline-none"
              placeholder="Tìm kiếm trên Thrift Market ..."
            />
          </div>
        </div>
        <a
          href="/post/create"
          class="flex justify-center items-center bg-white py-2 px-5 rounded-lg text-green-600 hover:underline cursor-pointer"
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              aria-hidden="true"
              role="img"
              class="iconify iconify--ic"
              width="24"
              height="24"
              preserveAspectRatio="xMidYMid meet"
              viewBox="0 0 24 24"
            >
              <path
                d="M17 19.22H5V7h7V5H5c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-7h-2v7.22z"
                fill="currentColor"
              ></path>
              <path
                d="M19 2h-2v3h-3c.01.01 0 2 0 2h3v2.99c.01.01 2 0 2 0V7h3V5h-3V2zM7 9h8v2H7zm0 3v2h8v-2h-3zm0 3h8v2H7z"
                fill="currentColor"
              ></path>
            </svg>
          </div>
          <div>Đăng bài</div>
        </a>
      </div>
    </div>
    {{{body}}}

    <div class="w-full flex justify-center h-64 bg-gray-800 bottom-0">
      <div class="w-full sm:w-9/12 flex justify-between">
        <div
          class="text-3xl sm:text-5xl h-full flex items-center font-extrabold text-green-600"
        >
          <div>Thrift Market</div>
        </div>
        <div class="h-full flex items-center">
          <div class="text-white text-lg">
            <div class="mb-3">Về chúng tôi</div>
            <div class="mb-3">Giới thiệu</div>
            <div class="mb-3">Hỗ trợ khách hàng</div>
            <div class="mb-3">Điều khoản sử dụng</div>
          </div>
        </div>

        <div>
          <div class="text-white mb-5 text-xl">
            <div class="text-xl mb-4 mt-10">Liên hệ</div>
            <div class="flex">
              <div class="mr-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--logos"
                  width="32"
                  height="32"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 256 256"
                ><path
                    d="M241.871 256.001c7.802 0 14.129-6.326 14.129-14.129V14.129C256 6.325 249.673 0 241.871 0H14.129C6.324 0 0 6.325 0 14.129v227.743c0 7.803 6.324 14.129 14.129 14.129h227.742"
                    fill="#395185"
                  ></path><path
                    d="M176.635 256.001v-99.137h33.277l4.982-38.635h-38.259V93.561c0-11.186 3.107-18.809 19.148-18.809l20.459-.009V40.188c-3.54-.471-15.684-1.523-29.812-1.523c-29.498 0-49.692 18.005-49.692 51.071v28.493h-33.362v38.635h33.362v99.137h39.897"
                    fill="#FFF"
                  ></path></svg>
              </div>
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  aria-hidden="true"
                  role="img"
                  class="iconify iconify--logos"
                  width="31.76"
                  height="32"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 256 258"
                ><defs><filter
                      x="-50%"
                      y="-50%"
                      width="200%"
                      height="200%"
                      filterUnits="objectBoundingBox"
                      id="IconifyId-179bc373dcc-127aa0-40"
                    ><feOffset
                        dy="2"
                        in="SourceAlpha"
                        result="shadowOffsetOuter1"
                      ></feOffset><feGaussianBlur
                        stdDeviation="1"
                        in="shadowOffsetOuter1"
                        result="shadowBlurOuter1"
                      ></feGaussianBlur><feColorMatrix
                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.168 0"
                        in="shadowBlurOuter1"
                        result="shadowMatrixOuter1"
                      ></feColorMatrix><feOffset
                        in="SourceAlpha"
                        result="shadowOffsetOuter2"
                      ></feOffset><feGaussianBlur
                        stdDeviation="1"
                        in="shadowOffsetOuter2"
                        result="shadowBlurOuter2"
                      ></feGaussianBlur><feColorMatrix
                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.084 0"
                        in="shadowBlurOuter2"
                        result="shadowMatrixOuter2"
                      ></feColorMatrix><feMerge><feMergeNode
                          in="shadowMatrixOuter1"
                        ></feMergeNode><feMergeNode
                          in="shadowMatrixOuter2"
                        ></feMergeNode><feMergeNode
                          in="SourceGraphic"
                        ></feMergeNode></feMerge></filter></defs><g
                    fill="none"
                    transform="translate(2 2)"
                  ><rect
                      fill="#DC4E41"
                      filter="url(#IconifyId-179bc373dcc-127aa0-40)"
                      width="252"
                      height="252"
                      rx="7"
                    ></rect><path
                      d="M100.8 119.7v15.12h25.011c-1.008 6.489-7.56 19.026-25.011 19.026c-15.057 0-27.342-12.474-27.342-27.846S85.743 98.154 100.8 98.154c8.568 0 14.301 3.654 17.577 6.804l11.97-11.529C122.661 86.247 112.707 81.9 100.8 81.9c-24.381 0-44.1 19.719-44.1 44.1s19.719 44.1 44.1 44.1c25.452 0 42.336-17.892 42.336-43.092c0-2.898-.315-5.103-.693-7.308H100.8z"
                      fill="#FFF"
                    ></path><path
                      d="M100.8 120.456h41.643c.441 2.079.693 4.284.693 6.93v-.441c0-2.898-.315-5.103-.693-7.308H100.8v.819zm0-37.8c11.655 0 21.483 4.221 29.043 11.151l.441-.441C122.661 86.247 112.707 81.9 100.8 81.9c-24.381 0-44.1 19.719-44.1 44.1v.378c.252-24.129 19.908-43.722 44.1-43.722zm0 71.946c17.451 0 24.003-12.474 25.011-19.026h-.189c-1.386 6.678-8.001 18.207-24.822 18.207c-14.931 0-27.09-12.285-27.279-27.405c0 .126-.063.252-.063.378c0 15.372 12.285 27.846 27.342 27.846z"
                      opacity=".4"
                      fill="#FFF"
                    ></path><path
                      d="M100.8 98.154c-15.057 0-27.342 12.474-27.342 27.846c0 .126.063.252.063.378c.189-15.183 12.348-27.405 27.279-27.405c8.568 0 14.301 3.654 17.577 6.804l11.97-11.529c-.126-.126-.315-.252-.441-.378l-11.529 11.151c-3.276-3.15-9.009-6.867-17.577-6.867zm0 36.666v.756h24.822c.063-.252.126-.567.189-.756H100.8z"
                      opacity=".1"
                      fill="#3E2723"
                    ></path><path
                      d="M100.8 170.1c-24.192 0-43.848-19.53-44.1-43.722v.378c0 24.381 19.719 44.1 44.1 44.1c25.452 0 42.336-17.892 42.336-43.092v-.378c-.189 25.011-17.01 42.714-42.336 42.714z"
                      opacity=".1"
                      fill="#3E2723"
                    ></path><path
                      d="M195.3 119.7h-12.6v-12.6h-12.6v12.6h-12.6v12.6h12.6v12.6h12.6v-12.6h12.6"
                      fill="#FFF"
                    ></path><path
                      d="M182.7 119.7h12.6v.756h-12.6v-.756zm-12.6-12.6h12.6v.756h-12.6v-.756zm-12.6 12.6h12.6v.756h-12.6v-.756z"
                      opacity=".4"
                      fill="#FFF"
                    ></path><path
                      d="M157.5 132.3h12.6v.756h-12.6v-.756zm25.2 0h12.6v.756h-12.6v-.756zm-12.6 12.6h12.6v.756h-12.6v-.756z"
                      opacity=".1"
                      fill="#3E2723"
                    ></path><path
                      d="M25.2 25.2h201.6v201.6H25.2V25.2z"
                    ></path></g></svg>
              </div>
            </div>
          </div>
          <div class="text-white text-xl">
            <div>Chứng nhận</div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"
      integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/js/main.js"></script>
    {{{_sections.js}}}
  </body>
</html>