<div class="w-full justify-center">
    <div class="w-full flex justify-center">
        <div class="w-9/12 h-96 slide">
            <div class="slide1 w-full h-full content-slide flex items-end bg-cover bg-center text-white">
                <div class="mb-10 pl-10">
                    <p class="text-4xl font-bold mb-5">TÌM MUA</p>
                    <p class="text-xl mb-5">Tìm kiếm sản phẩm đang được rao bán từ người dùng khác trên nền tảng Thrift Market</p>
                    <button class="border-2 rounded py-2 px-6">Tìm kiếm</button>
                </div>
            </div>
            <div class="slide2 w-full h-full content-slide flex items-end bg-cover bg-center text-white">
                <div class="mb-10 pl-10">
                    <p class="text-4xl font-bold mb-5">RAO BÁN</p>
                    <p class="text-xl mb-5">Đăng bài quảng bá sản phẩm đến với những người dùng khác qua nền tảng Thrift Market</p>
                    <button class="border-2 rounded py-2 px-6">Đăng bài</button>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full flex justify-center">
        <div class="w-9/12 flex justify-center my-5 sm:my-10 px-4 text-green-500">
            <div class="w-1/3 flex justify-center">
                <i class="fas fa-filter text-4xl mx-3"></i>
                <div>
                    <p class="font-sans font-medium text-sm">BỘ LỌC</p>
                    <p class="font-sans font-medium text-xs">Hỗ trợ lọc kết quả tìm kiếm</p>
                </div>
            </div>
            <div class="w-1/3 flex justify-center">
                <i class="far fa-comment-dots text-4xl mx-3"></i>
                <div>
                    <p class="font-sans font-medium text-sm">ONLINE CHAT</p>
                    <p class="font-sans font-medium text-xs">Tương tác trực tuyến với nhau</p>
                </div>
            </div>
            <div class="w-1/3 flex justify-center">
                <i class="fas fa-headset text-4xl mx-3"></i>
                <div>
                    <p class="font-sans font-medium text-sm">HỖ TRỢ 24/7</p>
                    <p class="font-sans font-medium text-xs">Hỗ trợ duyệt bài 24 giờ trong ngày</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto w-9/12 my-10 bg-green-600 px-8 py-6 rounded-2xl">
        <div class="text-2xl font-bold mb-5 text-white">DANH MỤC</div>
        <div class="categories grid grid-cols-4 md:grid-cols-8 gap-8">
            {{#each categories}}
                <div class="hover:text-green-800 transform hover:scale-110 transition duration-300 ease-in-out">
                    <a href="/post/byCategory/{{this.name}}">
                        <div>
                            <img src="{{this.img}}" alt="" class="cursor-pointer">
                        </div>
                        <div class="flex justify-center items-center">
                            <p class="text-sm text-white font-medium mt-4">{{this.name}}</p>
                        </div>
                    </a>
                </div>
            {{/each}}
        </div>
    </div>
    <div class="mx-auto w-9/12">
        <div class="mb-4 font-semibold text-xl">Bài đăng mới</div>
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7 gap-2">
            {{#each newPosts}}
                <a class="hover:text-green-600" href="/post/info/{{this.id}}">
                    <div class="w-full h-72 p-2 mb-20 border-2 hover:shadow-2xl transition delay-100 duration-300 ease-in-out">
                        <div class="h-4/6 w-full"><img class="img w-full h-full object-fit" src="{{this.img}}" alt=""></div>
                        <div class="h-2/6 flex flex-col justify-between">
                            <div class="text-sm font-semibold mt-4">{{this.title}}</div>
                            <div class="mb-2 text-red-500 font-bold text-base">{{formatCurrency this.price}} đ</div>
                        </div>
                    </div>
                </a>
                
            {{/each}}
        </div>
    </div>
    {{#section "js"}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
            integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script type="text/javascript" src="/js/index.js"></script>
    {{/section}}