<div class="my-20">
  <div class="flex justify-center items-center">
    <div class="w-4/5 lg:w-3/5 sm:flex justify-between items-start">
      <div class="flex justify-start items-center">
        <div class="text-xl text-gray-400">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            role="img"
            class="iconify iconify--ph"
            width="80"
            height="80"
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 256 256"
          >
            <path
              d="M228 128a100 100 0 1 0-167.29 73.91a3.97 3.97 0 0 0 .842.75a99.794 99.794 0 0 0 132.898-.001a3.966 3.966 0 0 0 .838-.748A99.763 99.763 0 0 0 228 128zm-192 0a92 92 0 1 1 157.171 64.872a75.616 75.616 0 0 0-44.507-34.04a44 44 0 1 0-41.328 0a75.618 75.618 0 0 0-44.507 34.04A91.708 91.708 0 0 1 36 128zm92 28a36 36 0 1 1 36-36a36.04 36.04 0 0 1-36 36zm-59.135 42.417a68.01 68.01 0 0 1 118.27 0a91.804 91.804 0 0 1-118.27 0z"
              fill="currentColor"
            ></path>
          </svg>
        </div>
        <div>
          <div class="text-3xl">{{session.user.name}}</div>
          <div class="text-xs italic text-green-600 mt-2"><a
              href="/{{session.user._id}}/edit_profile"
            >Chỉnh sửa thông tin cá nhân</a></div>
        </div>
      </div>
      <div class="w-4/5 ml-5 sm:ml-0 sm:w-2/5 text-sm">
        <div class="w-full flex justify-between items-center">
          <div class="w-2/5">
            <span class="text-gray-500 italic mr-4">Ngày sinh: </span>
          </div>
          <div class="w-3/5 birth">{{session.user.birth}}</div>
        </div>
        <div class="w-full flex justify-between items-center">
          <div class="w-2/5">
            <span class="text-gray-500 italic mr-4">Giới tính: </span>
          </div>
          <div class="w-3/5">{{session.user.gender}}</div>
        </div>
        <div class="w-full flex justify-between items-center">
          <div class="w-2/5">
            <span class="text-gray-500 italic mr-4">Email:</span>
          </div>
          <div class="w-3/5">{{session.user.email}}</div>
        </div>
        <div class="w-full flex justify-between items-center">
          <div class="w-2/5">
            <span class="text-gray-500 italic mr-4">Số ĐT:</span>
          </div>
          <div class="w-3/5">{{session.user.phone}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full flex justify-center my-10">
    <div class="w-4/5 lg:w-3/5 ml-5 sm:ml-0 justify-between items-center">
      <div class="w-full text-xl font-bold">Danh sách bài đăng</div>
      <div class="overflow-x-auto mt-6">
  
        <table class="table-auto border-collapse w-full border-2 rounded-xl border-gray-200">
          <thead>
            <tr class="rounded-lg text-sm font-medium text-gray-700 text-left" style="font-size: 0.9674rem">
              <th class="px-4 py-2 bg-gray-200 " style="background-color:#f8f8f8">Tiêu đề</th>
              <th class="px-4 py-2 text-center" style="background-color:#f8f8f8">Ngày đăng</th>
              <th class="px-4 py-2 text-center" style="background-color:#f8f8f8">Trạng thái</th>
            </tr>
          </thead>
          <tbody class="text-sm font-normal text-gray-700">
            {{#each posts}}
            <tr class="hover:bg-gray-100 border-b border-gray-200 py-10">
              <td class="px-4 py-4"><a href="/post/edit/{{this._id}}">{{this.title}}</a></td>
              <td class="px-4 py-4 text-center">{{#formatDate this.created}}{{/formatDate}}</td>
              {{#if this.state}}
              <td class="px-4 py-4 text-center text-green-600">Đã duyệt</td>
              {{else}}
              <td class="px-4 py-4 text-center text-red-600">Chờ duyệt</td>
              {{/if}}
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="w-full flex justify-center my-10">
    <div class="w-4/5 lg:w-3/5 ml-5 sm:ml-0 justify-between items-center">
      <div class="w-full text-xl font-bold">Bài đăng đã lưu</div>
      <div class="overflow-x-auto mt-6">
  
        <table class="table-auto border-collapse w-full border-2 rounded-xl border-gray-200">
          <thead>
            <tr class="rounded-lg text-sm font-medium text-gray-700 text-left" style="font-size: 0.9674rem">
              <th class="px-4 py-2 bg-gray-200 " style="background-color:#f8f8f8">Tiêu đề</th>
              <th class="px-4 py-2 text-center" style="background-color:#f8f8f8">Giá</th>
              <th class="px-4 py-2 text-center" style="background-color:#f8f8f8">Ngày đăng</th>
            </tr>
          </thead>
          <tbody class="text-sm font-normal text-gray-700">
            {{#each favPosts}}
            <tr class="hover:bg-gray-100 border-b border-gray-200 py-10">
              <td class="px-4 py-4"><a href="/post/info/{{this._id}}">{{this.title}}</a></td>
              <td class="px-4 py-4 text-center text-green-600">{{formatCurrency this.price}}</td>
              <td class="px-4 py-4 text-center">{{#formatDate this.created}}{{/formatDate}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>